@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Roboto+Slab&family=Source+Serif+Pro&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Source Serif Pro";
  -webkit-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
}

img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

button,
a {
  background: none;
  outline: none;
  border: none;
  text-decoration: none;
  cursor: pointer;
}

ul {
  list-style-type: none;
}

.bring-top {
  --whsize: 3em;
  width: var(--whsize);
  height: var(--whsize);
  background-color: #b6b6b6;
  -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  font-size: 1em;
  position: fixed;
  right: 2em;
  bottom: 2em;
  z-index: 20;
  -webkit-transform: translateY(20px);
          transform: translateY(20px);
  opacity: 0;
  pointer-events: none;
  -webkit-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
}

.bring-top:hover {
  background-color: #9b9898;
}

.bring-show {
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
  opacity: 1;
  pointer-events: all;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 500px;
}

.faq {
  width: 30em;
}

.faq__title {
  height: 5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.faq__title h4 {
  font-size: 2em;
}

.faq__inquiry {
  outline: 1px solid black;
  border-radius: 5px;
}

.faq__btn {
  padding: 1.25em 1.75em;
  font-size: 1em;
  font-family: "Poppins", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.faq__container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
  pointer-events: none;
  opacity: 0;
  max-height: 0;
  overflow: hidden;
}

.faq__container p {
  border-left: 1px solid black;
  padding: 0 1em;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}

.active {
  background-color: lightcyan;
  pointer-events: all;
  opacity: 1;
  padding: 3em 1.75em;
}

.rotate {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
/*# sourceMappingURL=style.css.map */